/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

a {
    text-decoration: none !important;
}

span{
  font-size: 15px;
  font-family: "Quicksand";
}

mat-option,mat-menu,mat-form-field{
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: bold; 
}

label,mat-radio-button{
  font-size: 12px;
  font-family: "Quicksand";
  color:grey;
}
h3,h4{
  text-align: center;
  color: #01579B;
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: bold; 


}